[user]
	name = Your Name
	email = your.email@example.com
[core]
	autocrlf = true
	editor = code --wait
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
[pull]
	rebase = false
[init]
	defaultBranch = main
